* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .username {
    margin-right: 10px;
}

.top-bar .user-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.header .navbar-brand {
    color: #333;
    font-weight: bold;
}

.header .nav-link {
    color: #333;
}

.welcome-section {
    background-image: url(https://wallpapers.com/images/hd/visual-painting-of-investment-1eprffu1fvb8wm2k.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.welcome-section .user-info {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.welcome-section .user-info .username {
    margin-right: 10px;
}

.welcome-section .user-info .user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.welcome-section .btn-primary {
    background-color: #ee3524;
    border-color: #ee3524;
}

.features-section {
    padding: 60px 0;
    flex-grow: 1;
}

footer {
    padding: 20px 0;
    margin-top: auto;
}
