* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-info .username {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.user-info .user-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.welcome-section {
  background-image: url(https://wallpapers.com/images/hd/visual-painting-of-investment-1eprffu1fvb8wm2k.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 1); /* Darker background */
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.welcome-section .btn-primary {
    background-color: #ee3524;
    border-color: #ee3524;
}

.features-section {
    padding: 60px 0;
    flex-grow: 1;
}

footer {
  padding: 20px 0;
  margin-top: auto;
}
