/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-section {
  /* background-image: url('/images/background.jpg'); */
  background-image: url(https://wallpapers.com/images/hd/visual-painting-of-investment-1eprffu1fvb8wm2k.jpg);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.features-section {
  padding: 80px 0;
}

footer {
  padding: 20px 0;
}